/*este se usa para que todos los elementos tengan el estilo indicado*/
* {
    text-align: center;
}

h1 {
    color: blueviolet;
    font-size: 40px;
}

h3 {
    color: blue;
    font-size: 20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

/*elemento*/
button {
    color: white;
    background-color: black;
    border-radius: 10px;
}

/*clases*/
.titulos {
    color: green;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

/*ID*/
#pie_pagina_uce {
    color: burlywood;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    background: blueviolet;
}

/*ATRIBUTO*/
/*
img[src="https://upload.wikimedia.org/wikipedia/commons/a/af/Tux.png"] {
    width: 250px;
    height: 300px;
}*/
img[src*=".png"] {
    width: 250px;
    height: 300px;
}

input[type="text"] {
    background-color: cornflowerblue;
}

button:hover {
    color: yellow;
    background-color: white;
}
/*COMBINACION DE SELECTORE*/
h1,h3,h5{
    color: red;
    font-size: 20px;
}