.container {
   display: flex;
   /* manipular el contenido del contenedor */
   justify-content: center;
   align-items: center;
}

body {
   background-color: rgb(104, 131, 150);
}

p:before {
   content: attr(type);
   /*Para que se muestre el atributo type*/
   display: block;
   /*Para que se muestre en una linea diferente cada elemnto html*/
   margin: 3px;
   font-size: 17px;
   color: #5a5a5a;
}

input {
   width: 280px;
   border: none;
   border-bottom: 2px solid #bebed2;
   background: none;
   /*Para que no se muestre el fondo blanco*/
}

input:focus {
   outline: none;
   /*Para que no se muestre el borde al seleccionar el input*/
   border-bottom: 2px solid #b1b1c5
}

h2 {
   margin: 10px auto;
   /*Margen arriba y abajo 10px y a los lados 2px*/
   width: 180px;
   /*Ancho*/
   color: #78788c;
   border-bottom: 3px solid #78788c;
   text-align: center;
}

form {
   width: 300px;
   height: 425px;
   background: #e6e6e6;
   border-radius: 10px;
   padding-left: 15px;
   padding-top: 15px;
   border: solid black 5px;
}

button {
   background: #78788c;
   border-radius: 5px;
   color: white;
   width: 90px;
   height: 35px;
   font-size: 17px;
   cursor: pointer;
   border: solid black 2px;
}

.container_copia {
   display: flex; /* manipular el contenido del contenedor */
   justify-content: center;
   align-items: center;
}